@charset "utf-8";
#bodynavul {
	list-style-image: none;
	list-style-type: none;
	display: inline-block;
}
#NN_Logo {
	top: 0px;
	left: 9px;
	position: absolute;
}
#home_img {
	position: absolute;
	left: 366px;
	top: 21px;
}
#Med_Dir {
	position: absolute;
	left: 352px;
	top: 46px;
	color: rgba(0,0,0,1.00);
	font-family: courier-prime;
	font-style: normal;
	font-weight: 700;
	font-size: x-large;
	text-shadow: 0 0 0;
	text-decoration: none;
}
#Node_Dir {
	position: absolute;
	left: 784px;
	top: 48px;
	color: rgba(0,0,0,1.00);
	font-family: courier-prime;
	font-style: normal;
	font-weight: 700;
	font-size: x-large;
	text-shadow: 0 0 0;
	text-decoration: none;
}
#searchbar {
	position: absolute;
	left: 939px;
	top: 72px;
}
#about {
	position: absolute;
	left: 1154px;
	top: 54px;
	color: rgba(0,0,0,1.00);
	font-family: courier-prime;
	font-style: normal;
	font-weight: 700;
	font-size: large;
	text-shadow: 0 0px 0;

}
#banner {
	position: absolute;
	top: 77px;
}
#node_main {
	position: absolute;
	top: 193px;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	left: 449px;
}
#line_1 {
	position: absolute;
	top: 452px;
	left: 849px;
}
#line_2 {
	position: absolute;
	top: 374px;
	left: 860px;
}
#line_3 {
	position: absolute;
	top: 274px;
	left: 811px;
}
#link_list {
	position: absolute;
	top: 236px;
	left: -3px;
	color: rgba(0,0,0,1.00);
	font-family: courier-prime;
	font-style: normal;
	font-weight: 400;
	font-size: medium;
	width: 397px;
	background-image: -webkit-linear-gradient(270deg,rgba(179,107,3,1.00) 0%,rgba(255,150,0,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(179,107,3,1.00) 0%,rgba(255,150,0,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(179,107,3,1.00) 0%,rgba(255,150,0,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(179,107,3,1.00) 0%,rgba(255,150,0,1.00) 100%);
	text-decoration: none;
	text-align: left;
	border-radius: 45px;
	-webkit-box-shadow: 7px 0px 39px rgba(0,0,0,1.00);
	box-shadow: 7px 0px 39px rgba(0,0,0,1.00);
	text-transform: none;
	list-style-image: none;
	list-style-position: inside;
	list-style-type: none;
}
#link_1 {
	text-decoration: none;
	color: rgba(0,0,0,1.00);
	background-color: rgba(0,126,2,0.50);
	border-radius: 15px;
}
#link_2 {
	background-color: rgba(95,126,1,0.52);
	border-radius: 15px;
}
#link_3 {
	background-color: rgba(139,79,2,0.38);
	border-radius: 15px;
}
#link_4 {
	background-color: rgba(177,8,10,0.55);
	border-radius: 15px;
}
#headline {
	position: absolute;
	top: 92px;
	left: 226px;
	font-family: courier-prime;
	font-style: normal;
	font-weight: 700;
	color: rgba(0,0,0,1.00);
	font-size: 44px;
	font-variant: small-caps;
}
#mytake {
	position: absolute;
	top: 587px;
	width: 400px;
	height: 500px;
	overflow-y: scroll;
	text-align: left;
	color: rgba(0,0,0,1.00);
	font-family: courier-prime;
	font-style: normal;
	font-weight: 400;
	text-transform: none;
	-webkit-box-shadow: 5px 5px 25px rgba(0,0,0,1.00);
	box-shadow: 5px 5px 25px rgba(0,0,0,1.00);
	left: 23px;
	border: 10px solid rgba(203,203,203,1.00);
	background-color: rgba(232,232,232,1.00);
}
#comment {
	position: absolute;
	top: 802px;
	left: 526px;

}
#comment_box {
	width: 226px;
	height: 81px;
}
#feedControl {
margin-top : 10px;
margin-left: auto;
margin-right: auto;
width : 440px;
position: absolute;
	top: 802px;
	left: 849px;
}
