@charset "utf-8";
#bodynavul {
	list-style-image: none;
	list-style-type: none;
	display: inline-block;
}
#NN_Logo {
	top: 0px;
	left: 9px;
	position: absolute;
}
#home_img {
	position: absolute;
	left: 366px;
	top: 21px;
}
#Med_Dir {
	position: absolute;
	left: 536px;
	top: 46px;
	color: rgba(0,0,0,1.00);
	font-family: courier-prime;
	font-style: normal;
	font-weight: 700;
	font-size: x-large;
	text-shadow: 2pt 1px 29px;
}
#searchbar {
	position: absolute;
	left: 939px;
	top: 72px;
}
#about {
	position: absolute;
	left: 1154px;
	top: 54px;
	color: rgba(0,0,0,1.00);
	font-family: courier-prime;
	font-style: normal;
	font-weight: 700;
	font-size: x-large;
	text-shadow: 6px 0px 22px;

}
#banner {
	position: absolute;
	top: 77px;
}
